.navbar {
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
  }
  
  .navbar.transparent {
    background: transparent;
  }
  
  .navbar.solid {
    background: rgba(16, 37, 50, 0.8); /* Fondo con transparencia */
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  }
  
  .navbar-logo img {
    height: 150px; /* Ajustar el tamaño del logo */
    width: auto;  /* Mantener la proporción del logo */
    position: absolute;
    top: 80%; /* Ajustar la posición del logo */
    transform: translateY(-50%);
    z-index: 3;
  }
  .navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    margin: 0 15px;
  }
  
  .navbar-item a {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }
  
  .navbar-item a:hover {
    color: #ff6600;
  }
  