/* Estilo Neumorfismo para ScrollToTop */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px; /* Ubicado en el lado derecho */
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .scroll-to-top .scroll-button {
    background: #e0e0e0;
    border-radius: 50%;
    box-shadow: 9px 9px 16px #bebebe, -9px -9px 16px #ffffff;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff6600; /* Color del ícono de flecha */
    font-size: 30px; /* Tamaño del ícono */
    border: none;
    cursor: pointer;
  }
  
  .scroll-to-top .scroll-button:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
  }
  
  /* Ocultar ScrollToTop cuando esté en el header */
  .hide-scroll-button {
    opacity: 0;
    visibility: hidden;
  }
  