.technologies-section {
    background-color: #102532; /* Mismo color del navbar */
    padding: 60px 20px;
    text-align: center;
    color: white;
  }
  
  .technologies-section h2 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #ff6600;
  }
  
  .technologies-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .technologies-grid img {
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease;
    /* Eliminar el filtro que cambia los colores */
  }
  
  .technologies-grid img:hover {
    transform: scale(1.1);
  }
  
  